$primary-color: rgb(154, 211, 251);
$secondary-color: #760069;

$bps: (
		xs: 0px,
		sm: 576px,
		md: 768px,
		lg: 992px,
		xl: 1200px
);

$z-index: (
		aboutme-container: 2,
		darkmode-switcher: 3,
		splashcreen: 4,
		splashscreen-logo: 5,
);
    