

$primary-color: rgb(154, 211, 251);

$bps: (
    xs: 0px,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);

$z-index: (
    aboutme-container: 2,
    splashcreen: 3,
    splashscreen-logo: 4,
);
    