@import "../core";


@mixin hideOtherSectionsContentByDefault {
	&[data-tab-name="technologies"], &[data-tab-name="architecture"], &[data-tab-name="jquery"] {
		display: none;
	}
}


.aboutme {
	&__container {
		@include onSmall {
			$width: 90vw;
			$height: 90vh;
			@include box($width, $height);
			transform: translateX(-$width/2) translateY(-$height/2);
			overflow-y: auto;
		}
		@include onMedium {
			$width: 90vw;
			$height: 700px;
			@include box($width, $height);
			transform: translateX(-$width/2) translateY(-$height/2);
		}
		max-width: 1300px;
		@include z-index(aboutme-container);
		display: none;
		border-radius: 5px;
		position: fixed;
		background-color: rgba(255, 255, 255, 0.5);
		top: 50%;
		left: 50%;
	}
	
	&__tab {
		&--container {
			width: 100%;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			height: 50px;
		}
		margin: 0 5px;
	}
	
	&__content {
		&--header-title {
			@extend .heading-title;
			@include hideOtherSectionsContentByDefault;
		}
		
		&--container {
			@include box(100%, 80%);
			margin: 0 auto;
			display: block;
			bottom: 0;
			position: absolute;
			border-radius: 5px;
			background-color: rgba(255, 255, 255, 0.9);
		}
		
		&--self {
			img {
				float: left;
				margin-right: 10px;
				border-radius: 50%;
				width: 30%;
				max-width: 255px;
				@include subtleShadow(0.4);
			}
			
			margin: 20px 40px;
			line-height: 30px;
			@include hideOtherSectionsContentByDefault;
		}
	}
}