@import "../core";

.darkmode {
    &__switcher {
        @include box(25px);
        @include z-index(darkmode-switcher);
        @include subtleShadow;
        position: absolute;
        right: 10px;
        border: none;
        border-radius: 5px;
        color: #202020;
        bottom: 10px;
        cursor: pointer;
        transition-duration: 0.25s;
        &.active {
            background-color: $secondary-color;
            color: #fff;
        }
    }

}